<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.bjnews">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".GuideActivity"/>

        <!--采用开源项目的主题-->
        <activity android:name=".MainActivity"
                  android:theme="@style/Theme.PageIndicatorDefaults"/>

        <activity android:name=".NewsDetailActivity"/>

    </application>

    <!--重大说明：
        要使用TabLayout，则必须将之前的.MainActivity中的主题由原来的"Theme.PageIndicatorDefaults"
        改为："Theme.AppCompat.Light.NoActionBar"，否则在点"新闻中心"直接崩溃。
        说明：此Bug已解决，使用相关Gradle文件使用22包。
    -->

    <!--android:theme="@style/Theme.AppCompat.Light.NoActionBar"-->
    <!--android:theme="@style/Theme.PageIndicatorDefaults"-->

</manifest>